{% layout 'layout.liquid' %}

{% block content %}
<div class="card-body">
    <h3>Select which calendar you would like to add the event to:</h3>
    {% for data in data %}
    {% if data.owner == owner %}
    <div class="card" style="width: 18rem">
        <h2 class="card-header"><a href="/personal/add/{{data._id}}/{{eventId}}">{{data.name}}</a></h2>
                <p class="card-text">Description: {{data.description}}</p>
            </div>   
        </div>
    {% endif %}    
    {% endfor %}
    <div class="btn-group">
        <a href="/cal" class="btn">Back to main page</a>
</div>
</div>        
{% endblock %}

<!-- list of all personal calendars available to add an event to-->