{% layout 'layout.liquid' %}

{% block content %}

<div class="card" style="width: 18rem;">
    <div class="card-header">
        <h1>Upcoming events</h1>
    </div>
    <ul class="list-group">
        {% for data in data.items %}
        <li class="list-group-item">{{data.date}}</li>
        <li class="list-group-item"><a href="/cal/{{data[index0]._id}}">{{data.title}}</a></li>
        {% endfor %}
    </ul>
</div>

{% endblock %}
-->