{% layout 'layout.liquid' %}

{% block content %}

<div class="card" style="width: 18rem;">
    <div class="card-header">
        <h1>Upcoming events</h1>
    </div>
    <ul class="list-group">
        {% for data in data %}
        <li class="list-group-item">{{data.date | %I:%M %m-%d-%y }}</li>
        <li class="list-group-item"><a href="/cal/{{data._id}}">{{data.title}}</a></li>
        {% endfor %}
    </ul>
</div>

{% endblock %}