{% layout 'layout.liquid'%}
{% block content%}

<div class="container-md">
    <form action="/users/login" method="POST">
        <fieldset>
            <legend>Welcome back, please login here</legend>
            <label class="form-label">Username:</label>
            <input 
                type="text" 
                name="username" 
                class="form-control"
            >
            <label class="form-label">Password:</label>
            <input 
                type="password" 
                name="password" 
                class="form-control"
            >
        </fieldset>
        <input 
            type="submit" 
            value="log in" 
            class="btn"
        >
    </form>
</div>

{% endblock %}